#include "/home/justin/.Xresources.d/colors/fdsa"

*scrollstyle: xterm
*scrollBar_right: true

*font:xft:Luxi Mono:pixelsize=12
*boldFont:xft:Luxi Mono:pixelsize=12
*boldMode: false
*letterSpace: -2

!keyboard-select
URxvt.perl-ext-common: ...,keyboard-select,clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!paste from clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

!padding
URxvt.internalBorder: 7

URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 0.0001
