# Aliases
alias ls='ls --color=auto -N'
alias ll='ls -l'
alias la='ls -la'

alias so='source'

alias x='exit'

# show visible line numbers and percentage
alias less='less -M +Gg'

# git aliases
alias gd='git diff'
alias gdn='git diff --name-only'
alias gda='git add $(git diff --name-only)'
alias gcm='git commit -m'
alias gpo='git push origin'
alias ga='git add'
